<?xml version = "1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <material name="green">
        <color rgba="0 0.5 0 1" />
    </material>

    <material name="grey">
        <color rgba="0.5 0.5 0.5 1" />
    </material>

    <material name="orange">
        <color rgba="0.98 0.4 0.05 1" />
    </material>

    <material name="yellow">
        <color rgba="1 1 0 1" />
    </material>

    <xacro:macro name="box_inertia" params="m l w h xyz rpy">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}" />
            <mass value="${m}" />
            <inertia ixx="${(m/12.0) * (h*h + l*l)}" ixy="0" ixz="0"
                     iyy="${(m/12.0) * (w*w + l*l)}" iyz="0"
                     izz="${(m/12.0) * (w*w + h*h)}" />
        </inertial>
    </xacro:macro>
    
    <xacro:macro name="sphere_inertia" params="m r xyz rpy">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}" />
            <mass value="${m}" />
            <inertia ixx="${(m * 2.0/5.0) * (r*r)}" ixy="0" ixz="0"
                     iyy="${(m * 2.0/5.0) * (r*r)}"  iyz="0"
                     izz="${(m * 2.0/5.0) * (r*r)}" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="cylinder_inertia" params="m r h xyz rpy">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}" />
            <mass value="${m}" />
            <inertia ixx="${(m/12) * (3*r*r + h*h)}" ixy="0" ixz="0"
                     iyy="${(m/12) * (3*r*r + h*h)}" iyz="0"
                     izz="${(m/12) * (3*r*r + h*h)}" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="rod_inertia" params="m r h xyz rpy">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}" />
            <mass value="${m}" />
            <inertia ixx="${(m/3) * (h*h)}" ixy="0" ixz="0"
                     iyy="0"                iyz="0"
                     izz="${(m/3) * (h*h)}" />
        </inertial>
    </xacro:macro>

</robot>